<% if policy(Wiki.new).create? %>
  <%= link_to 'New wiki', new_wiki_path, class: 'btn btn-success' %>
<% end %>


<h2>All Public Wikis</h2>

<% @public_wikis.each do |wiki| %>
  <%= link_to wiki.name, wiki %>
<% end %>

